.body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    
}

.padre {
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 180, 180);
    height: 100vh;

}


.botones {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    justify-content: space-around;

}